.statistics {
  width: 360px;
  margin: auto;
  border: solid 1px rgb(211, 221, 221);
  margin-bottom: 16px;
}

.title {
  font-size: 16p;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.stat__list {
  height: 60px;
  display: flex;
  list-style: none;
}
