.online {
  margin-right: 16px;
  color: green;
}
.offline {
  margin-right: 16px;
  color: red;
}
.item {
  width: 300px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
  padding: 8px 16px;
}
.avatar {
  margin-right: 24px;
  border-radius: 10px;
}
.name {
  font-size: 24px;
  font-weight: 500;
}
